* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.background {
    width: 100%;
    height: 100vh;
    /*background: -webkit-gradient(linear,left top,right bottom,from(#af5e94),to(#4b28c6))fixed;*/
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.background img{
    height: 130vh;
    width: 100%;
    top: 0;
    left: 0;
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: -1;

}
.background nav {
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.side-navbar{
     /*position: absolute;
    left: 0;
    width: 35%;
    height: 100%;
    background: red;*/
    position: absolute;
    top: 38%;
    left: 3%;
    width: 20%;
    height: 100%;
    background: transparent;

}
.right-arrow{
    position: absolute;
    top: 80%;
    left: 90%;
    font-size: 40px;
    color: white;
}
.right-arrow button{
    background: transparent;
    color: white;
}
.background .slide{

}
.side-navbar ul li{
    list-style: none;
    margin-top: 10px;

}
.side-navbar ul li i {
    color: white;
}
.side-navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}
.background nav h1 {
    color: white;
    font-size: 40px;
}
.background nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}
.background nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.content {
    position: absolute;
    right: 10%;
    width: calc(100% - 20%);
    height: 100%;
    top: 38%;
    background: transparent;
    text-align: center;
}
.content h1 {
    font-size: 4rem;
    color: white;
    font-weight: 600;
    letter-spacing: .5rem;
}
.content a{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
